body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bodyBgColor;

    font-family: "Vazirmatn", sans-serif;

    line-height: 1.5;
}